h1 
{
font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1
{font-size: xx-large;}
h1 
{color: firebrick;}

p 
{font-family: Verdana, Geneva, Tahoma, sans-serif;}
p{color:firebrick}


a {font-family: Verdana, Geneva, Tahoma, sans-serif;}
a {color:powderblue}