h1 
{
font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1
{font-size: xx-large;}
h1 
{color:powderblue ;}

p 
{font-family: Verdana, Geneva, Tahoma, sans-serif;}
p{color:powderblue}


a {font-family: Verdana, Geneva, Tahoma, sans-serif;}
a {color:powderblue}

h2 {font-family: Verdana, Geneva, Tahoma, sans-serif;}
h2 {color: blueviolet;}

